
.footer{
    background-color: transparent;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
}

.redes{
    padding: 1rem;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px #000000;
    color: whitesmoke;   
}

.redes:hover{
    transform: scale(1.1,1.2);
    transition: 0.4s;
}

.textoFooter{
    font-size: 0.8rem;
    font-family: 'Esteban', serif;
}

/*footer Contacto*/

.footerContact{
    background-color: rgb(24, 19, 19);
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
}

.redesContact{
    padding: 1rem;
    font-size: 1.5rem;
    color: whitesmoke;   
}

.redesContact:hover{
    transform: scale(1.1,1.2);
    transition: 0.3s;
}

.textoFooter-cont{
    font-size: 0.8rem;
    font-family: 'Esteban', serif;  
}





