.imagengalerias{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.imagengalerias:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.celdas{
    display: flex;
    align-items: center;
    padding: 2rem;
}

.carousel{
    width: 352px;
}
