.bodyIndex{
    background-image: url(../images/getintouch/tumblr_phg1p32xA81r25epro1_1280.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.sectionmain{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: 70vh;
    .sectionmain__titles{
        color: rgb(255, 255, 255);
        font-size: 8vw;
        letter-spacing: 3rem;  
        text-shadow: 2px 2px 4px #000000;      
    }
}

