body{
    background-image: linear-gradient(to bottom, #f6edf4, #f7e9f2, #f8e4f0, #fae0ed, #fcdbe9, #fdd9e6, #fed7e3, #ffd5df, #ffd5dd, #ffd5da, #ffd6d8, #ffd6d6);    
    background-size: 100vw 100vh cover;
    background-repeat: no-repeat;
    
}